<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <title>Welcome</title>
</head>
<body>

    <div class="heading">
        <div class="name">Developed by Madeline Bartley</div>
    </div>

    <div class="left"><div></div></div>

    <div class="title">
        <div>Machine Learning Mini-Project: KNN</div>
    </div>

	<div class="subtitle">
        <div class="subbed"><p id="predict-subtitle">Predicting cancer diagnosis based on tumor features</p></div>
        <div class="subbed"><p id="knn-subtitle">Using K-Nearest Neighbors</p></div>
    </div>

    <div class="knn">
    <div id="sample-data"><p>Enter in your sample data here</p></div>
    <form action="{{ url_for('predict')}}"method="post">
        <div class="container">
        <div><input type="text" name="radius_mean" placeholder="radius_mean" required="required" /></div>
        <div><input type="text" name="texture_mean" placeholder="texture_mean" required="required" /></div>
        <div><input type="text" name="perimeter_mean" placeholder="perimeter_mean" required="required" /></div>
        <div><input type="text" name="area_mean" placeholder="area_mean" required="required" /></div>
        <div><input type="text" name="smoothness_mean" placeholder="smoothness_mean" required="required" /></div>
        <div><input type="text" name="compactness_mean" placeholder="compactness_mean" required="required" /></div>
        
        <div><input type="text" name="concavity_mean" placeholder="concavity_mean" required="required" /></div>
        <div><input type="text" name="concave_points_mean" placeholder="concave_points_mean" required="required" /></div>
        <div><input type="text" name="symmetry_mean" placeholder="symmetry_mean" required="required" /></div>
        <div><input type="text" name="fractal_dimension_mean" placeholder="fractal_dimension_mean" required="required" /></div>
        <div><input type="text" name="radius_se" placeholder="radius_se" required="required" /></div>
        <div><input type="text" name="texture_se" placeholder="texture_se" required="required" /></div>

        <div><input type="text" name="perimeter_se" placeholder="perimeter_se" required="required" /></div>
        <div><input type="text" name="area_se" placeholder="area_se" required="required" /></div>
        <div><input type="text" name="smoothness_se" placeholder="smoothness_se" required="required" /></div>
        <div><input type="text" name="compactness_se" placeholder="compactness_se" required="required" /></div>
        <div><input type="text" name="concavity_se" placeholder="concavity_se" required="required" /></div>
        <div><input type="text" name="concave_points_se" placeholder="concave_points_se" required="required" /></div>
        
        <div><input type="text" name="symmetry_se" placeholder="symmetry_se" required="required" /></div>
        <div><input type="text" name="fractal_dimension_se" placeholder="fractal_dimension_se" required="required" /></div>
        <div><input type="text" name="radius_worst" placeholder="radius_worst" required="required" /></div>
        <div><input type="text" name="texture_worst" placeholder="texture_worst" required="required" /></div>
        <div><input type="text" name="perimeter_worst" placeholder="perimeter_worst" required="required" /></div>
        <div><input type="text" name="area_worst" placeholder="area_worst" required="required" /></div>
        
        <div><input type="text" name="smoothness_worst" placeholder="smoothness_worst" required="required" /></div>
        <div><input type="text" name="compactness_worst" placeholder="compactness_worst" required="required" /></div>
        <div><input type="text" name="concavity_worst" placeholder="concavity_worst" required="required" /></div>
        <div><input type="text" name="concave_points_worst" placeholder="concave_points_worst" required="required" /></div>
        <div><input type="text" name="symmetry_worst" placeholder="symmetry_worst" required="required" /></div>
        <div><input type="text" name="fractal_dimension_worst" placeholder="fractal_dimension_worst" required="required" /></div>
        <div class="hidden"></div>
        <div class="hidden"></div>
        
        <div class="predict-button">
        <button type="submit" class="submit-button">Predict whether this tumor will be cancerous or benign</button></p>
        </div>

        </div>
    </form>
    </div>

    <div class="or"><div>Or</div></div>

    <div class="random">
        <form action="{{ url_for('predict')}}"method="post">
        <div class="random-label"><p>Madeline, that's too many fields. Can you just generate a test for me?</p></div>
        <div class="random-button"><button type="submit">Sure!</button></div>
        </form>

        <div class="label-flex-container">
        <div class="labels">radius_mean:<div class="testers">{{ zero }}</div></div>
        <div class="labels">texture_mean:<div class="testers">{{ one }}</div></div>
        <div class="labels">perimeter_mean:<div class="testers">{{ two }}</div></div>
        <div class="labels">area_mean:<div class="testers">{{ three }}</div></div>
        <div class="labels">smoothness_mean:<div class="testers">{{ four }}</div></div>
        <div class="labels">compactness_mean:<div class="testers">{{ five }}</div></div>
        
        <div class="labels">concavity_mean:<div class="testers">{{ six }}</div></div>
        <div class="labels">concave_points_mean:<div class="testers">{{ seven }}</div></div>
        <div class="labels">symmetry_mean:<div class="testers">{{ eight }}</div></div>
        <div class="labels">fractal_dim._mean:<div class="testers">{{ nine }}</div></div>
        <div class="labels">radius_se:<div class="testers">{{ ten }}</div></div>
        <div class="labels">texture_se:<div class="testers">{{ eleven }}</div></div>

        <div class="labels">perimeter_se:<div class="testers">{{ twelve }}</div></div>
        <div class="labels">area_se:<div class="testers">{{ thirteen }}</div></div>
        <div class="labels">smoothness_se:<div class="testers">{{ fourteen }}</div></div>
        <div class="labels">compactness_se:<div class="testers">{{ fifteen }}</div></div>
        <div class="labels">concavity_se:<div class="testers">{{ sixteen }}</div></div>
        <div class="labels">concave_points_se:<div class="testers">{{ seventeen }}</div></div>
        
        <div class="labels">symmetry_se: <div class="testers">{{ eighteen }}</div></div>
        <div class="labels">fractal_dim._se: <div class="testers">{{ nineteen }}</div></div>
        <div class="labels">radius_worst: <div class="testers">{{ twenty }}</div></div>
        <div class="labels">texture_worst: <div class="testers">{{ twentyone }}</div></div>
        <div class="labels">perimeter_worst: <div class="testers">{{ twentytwo }}</div></div>
        <div class="labels">area_worst: <div class="testers">{{ twentythree }}</div></div>
        
        <div class="labels">smoothness_worst: <div class="testers">{{ twentyfour }}</div></div>
        <div class="labels">compactness_worst: <div class="testers">{{ twentyfive }}</div></div>
        <div class="labels">concavity_worst: <div class="testers">{{ twentysix }}</div></div>
        <div class="labels">concave_points_worst :<div class="testers">{{ twentyseven }}</div></div>
        <div class="labels">symmetry_worst: <div class="testers">{{ twentyeight }}</div></div>
        <div class="labels">fractal_dim._worst: <div class="testers">{{ twentynine }}</div></div>
        <div class="labels">actual diagnosis: <div class="testers">{{ label }}</div></div>
        <div class="labels"></div>
        </div>
    </div>

    <div class="results">
        <div><h3>Results</h3></div>
        <div id="output-results">{{ output }} </div>
    </div>

    <div class="right"></div>

    <div class="footing">
        <footer><p id="kaggle-credit">data taken from the following Kaggle page: https://www.kaggle.com/datasets/gkalpolukcu/knn-algorithm-dataset</p></footer>
    </div>
    
</body>
</html>